<!DOCTYPE html>
{% extends "base/base.html" %}

{% comment %}{% load bootstrap4 %}{% endcomment %}

    {% block head_block %}
    <title>Cadastro</title>
    {% endblock %}
    {% block body_block %}
            <body>
                <div class="container">
                            <div class="jumbotron">
                                        <form method="GET" action= {% url 'search' %} class="form-inline my-2 my-lg-0">
                                            <input class="form-control mr-sm-2" name="keywords" type="search" placeholder="Digite o nome do Produto" >
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                                        </form>
                                        <br>
                                <h1> Lista de Pratos </h1>
                                {% include 'base/_product_list.html' %}
                                {% include 'base/_pagination.html' %}
                            </div>
                </div>
                    
            </body>
        {% endblock %}