<!DOCTYPE html>
{% extends "base/base.html" %}

{% comment %}{% load bootstrap4 %}{% endcomment %}

    {% block head_block %}
    <title>Cadastro</title>
    {% endblock %}
    {% block body_block %}
            <body>
                <div class="container">
                            <div class="jumbotron">
                                {% include 'base/_searchbox.html' %}
                                <br>
                                <h1> Lista de Pratos </h1>
                                {% include 'base/_product_list.html' %}
                                {% include 'base/_pagination.html' %}
                            </div>
                </div>
                    
            </body>
        {% endblock %}