<div class="card-deck col-md-12">
    {% for food in pages %}
        <div class="card col-md-3">
            <img src="{{ food.pictureFood.url }}" class="card-img-top"  alt="...">
            <div class="card-body">
                    <h5 class="card-title">{{ food.foodName }}</h5>
                    <p class="card-text">R$ {{ food.price}}</p>
                    <p class="card-text">{{ food.description }}</p>
                    <p class="card-text">Chefe: {{ food.employer }}</p>
                <a href="{% url 'food-update' food.slug %}" class="btn btn-success">Editar</a>
                <a role="button" href="{% url 'food-delete' food.slug %}" class="btn btn-danger">Apagar</a>
            </div>
        </div>
    {% empty %}
        <div class="center"><h3>Não foi achado nenhum produto</h3></div>
    {% endfor %}
</div>